LeaveRequestApp/pkgs/Wadl/LinkedInAPIs.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://india-001.azure-apim.net/apim/linkedin-20apis-5fab783fa6c067e47c-5fceb1defd64d5997f" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="LinkedInAPIs" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="LinkedIn APIs"></doc>
  <grammars>
    <jsonTypes targetNamespace="https://india-001.azure-apim.net/apim/linkedin-20apis-5fab783fa6c067e47c-5fceb1defd64d5997f" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="LinkedIn_SignIn_API_responses_default_def_id_def" />
      <string name="LinkedIn_SignIn_API_responses_default_def_profilePicture_def_displayImage_def" />
      <object name="LinkedIn_SignIn_API_responses_default_def_profilePicture_def">
        <property name="displayImage" type="string" />
      </object>
      <object name="LinkedIn_SignIn_API_responses_default_def">
        <property name="id" type="string" />
        <property name="profilePicture" typeRef="LinkedIn_SignIn_API_responses_default_def_profilePicture_def" />
      </object>
      <string name="LinkedIn_Post_API_param_body_def_author_def" />
      <string name="LinkedIn_Post_API_param_body_def_lifecycleState_def" />
      <string name="LinkedIn_Post_API_param_body_def_specificContent_def_com_linkedin_ugc_ShareContent_def_shareCommentary_def_text_def" />
      <object name="LinkedIn_Post_API_param_body_def_specificContent_def_com_linkedin_ugc_ShareContent_def_shareCommentary_def">
        <property name="text" type="string" />
      </object>
      <string name="LinkedIn_Post_API_param_body_def_specificContent_def_com_linkedin_ugc_ShareContent_def_shareMediaCategory_def" />
      <object name="LinkedIn_Post_API_param_body_def_specificContent_def_com_linkedin_ugc_ShareContent_def">
        <property name="shareCommentary" typeRef="LinkedIn_Post_API_param_body_def_specificContent_def_com_linkedin_ugc_ShareContent_def_shareCommentary_def" />
        <property name="shareMediaCategory" type="string" />
      </object>
      <object name="LinkedIn_Post_API_param_body_def_specificContent_def">
        <property name="com.linkedin.ugc.ShareContent" typeRef="LinkedIn_Post_API_param_body_def_specificContent_def_com_linkedin_ugc_ShareContent_def" />
      </object>
      <string name="LinkedIn_Post_API_param_body_def_visibility_def_com_linkedin_ugc_MemberNetworkVisibility_def" />
      <object name="LinkedIn_Post_API_param_body_def_visibility_def">
        <property name="com.linkedin.ugc.MemberNetworkVisibility" type="string" />
      </object>
      <object name="LinkedIn_Post_API_param_body_def">
        <property name="author" type="string" />
        <property name="lifecycleState" type="string" />
        <property name="specificContent" typeRef="LinkedIn_Post_API_param_body_def_specificContent_def" />
        <property name="visibility" typeRef="LinkedIn_Post_API_param_body_def_visibility_def" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://india-001.azure-apim.net/apim/linkedin-20apis-5fab783fa6c067e47c-5fceb1defd64d5997f">
    <resource path="/{connectionId}/v2/me">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="LinkedInSignInAPI" siena:isDeprecated="false">
        <doc title="LinkedIn SignIn API" />
        <request />
        <response>
          <representation mediaType="application/json" element="service:LinkedIn_SignIn_API_responses_default_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/ugcPosts">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="LinkedInPostAPI" siena:isDeprecated="false">
        <doc title="LinkedIn Post API" />
        <request>
          <param style="header" name="X-Restli-Protocol-Version" type="xs:string" />
          <representation mediaType="application/json">
            <param style="plain" name="author" path="/author" type="xs:string" />
            <param style="plain" name="lifecycleState" path="/lifecycleState" type="xs:string" />
            <param style="plain" name="specificContent" path="/specificContent" type="service:LinkedIn_Post_API_param_body_def_specificContent_def" />
            <param style="plain" name="visibility" path="/visibility" type="service:LinkedIn_Post_API_param_body_def_visibility_def" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="linkedin-20apis-5fab783fa6c067e47c-5fceb1defd64d5997f" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>